--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118

onnxruntime-gpu==1.17
insightface==0.7.3
diffusers==0.25.1
transformers==4.37.1
accelerate==0.28.0
safetensors==0.4.2
spaces==0.19.4
omegaconf==2.3.0
huggingface-hub==0.20.2
opencv-python==4.9.0.80
Cython==3.0.9
cmake==3.28.3
gdown==5.1.0
peft==0.9.0
deepface==0.0.87